@page
@model Commutator.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Подробнее";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.IP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.IP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Mac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Mac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.VLAN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.VLAN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Sern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Sern)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Invn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Invn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.BuyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.BuyDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.UstDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.UstDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Atug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Atug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Koment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Koment)
        </dd>
    </dl>
</div>
<div>
    <a class="blubs" asp-page="/Index">Вернуться к таблице</a>
</div>
