@page
@model Commutator.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Главная";
}
<form>
    <p>
        <input type="text" asp-for="SearchString" placeholder="Поиск по таблице" autocomplete="off" />
        <input type="submit" value="Найти" />
    </p>
</form>
<div class="faq_list">
    <div class="faq_item">
        <div class="faq_item_title">
            <div class="faq_item_title_inner">
                <a class="blubspp">Расширенный поиск</a>
            </div>
        </div>
        <div class="faq_item_body">
            <form>
                <p>
                    <input type="text" asp-for="SearchStringTitle" placeholder="Модель" autocomplete="off" />
                    <input type="submit" value="Найти" />
                </p>
            </form>
            <form>
                <p>
                    <input type="text" asp-for="SearchStringIP" placeholder="IP-адрес" autocomplete="off" />
                    <input type="submit" value="Найти" />
                </p>
            </form>
            <form>
                <p>
                    <input type="text" asp-for="SearchStringMac" placeholder="MAC-адрес" autocomplete="off" />
                    <input type="submit" value="Найти" />
                </p>
            </form>
            <form>
                <p>
                    <input type="text" asp-for="SearchStringVLAN" placeholder="Управляющий VLAN" autocomplete="off" />
                    <input type="submit" value="Найти" />
                </p>
            </form>
            <form>
                <p>
                    <input type="text" asp-for="SearchStringSern" placeholder="Серийный номер" autocomplete="off" />
                    <input type="submit" value="Найти" />
                </p>
            </form>
            <form>
                <p>
                    <input type="text" asp-for="SearchStringInvn" placeholder="Инвентарный номер" autocomplete="off" />
                    <input type="submit" value="Найти" />
                </p>
            </form>
            <form>
                <p>
                    <input type="text" asp-for="SearchStringKoment" placeholder="Комментарий" autocomplete="off" />
                    <input type="submit" value="Найти" />
                </p>
            </form>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].IP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Mac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].VLAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Sern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Invn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].BuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].UstDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Atug)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>
                    <span>Модель</span>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <span>IP-адрес</span>
                    @Html.DisplayFor(modelItem => item.IP)
                </td>
                <td>
                    <span>MAC-адрес</span>
                    @Html.DisplayFor(modelItem => item.Mac)
                </td>
                <td>
                    <span>Управляющий VLAN</span>
                    @Html.DisplayFor(modelItem => item.VLAN)
                </td>
                <td>
                    <span>Серийный номер</span>
                    @Html.DisplayFor(modelItem => item.Sern)
                </td>
                <td>
                    <span>Инвентарный номер</span>
                    @Html.DisplayFor(modelItem => item.Invn)
                </td>
                <td>
                    <span>Дата покупки</span>
                    @Html.DisplayFor(modelItem => item.BuyDate)
                </td>
                <td>
                    <span>Дата установки</span>
                    @Html.DisplayFor(modelItem => item.UstDate)
                </td>
                <td>
                    <span>Этаж</span>
                    @Html.DisplayFor(modelItem => item.Atug)
                </td>
                <td>
                    <a class="blubtn" asp-page="Movies/Details" asp-route-id="@item.ID">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>

